.project-image {
    width: 700px; 
    height: auto;
 }

.card-title, .card-text {
    margin-left: 750px;
}

.github-icon {
    position: absolute;
    right: 14rem; 
    bottom: 2rem; 
    color: white;
    text-decoration: none;
}